!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Example
  %body
  %h1 Foo Corporation
  %article
    %p Sit hic totam qui numquam corrupti voluptate. Unde quis debitis iure itaque hic labore deleniti, error adipisci quasi eum temporibus facilis accusantium officiis quod. Repudiandae magni eligendi porro quaerat doloribus!
  %footer
    %p Copyright &copy; Foo Corporation.
